
<div>
    <!-- Modal -->
    <div class="modal fade" id="editEmailPopup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Adresse bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <div class="text">
                        Lade Formular
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>