<span style="
	font-size: 14px;
	font-weight: 200;
	color: #61625d">
    {#{% include "Personen/subnav.html.twig" %}#}
    <!-- Buttons -->
    <!-- Button Edit -->
        {#<br>#}
        <br>
        {#<br><div class="collapse out" id="collapseInfo">#}
            {#<div class="alert alert-warning fade in">#}
            <div align="center">
                    <span style="font-size: 16px; font-weight: 200">
        An dieser Stelle lassen sich deine Daten wie Benutzername, Kennwort, dein richtiger Name
        und die gängigen Kontaktmöglichkeiten (Adresse, Telefon- und Faxnummern, sowie
        Emailadressen) verwalten.</span></div>
        <hr>
        {#</div>#}
        <div class="row">

            {# RECHTE SEITE#}
            {% include "Personen/display_parts/left.html.twig" %}
            {# MITTELTEIL #}
            {% include "Personen/display_parts/center.html.twig" %}
            {# RECHTER TEIL#}
            {% include "Personen/display_parts/right.html.twig" %}
        </div>
    {#</div>#}
</span>
