<tr>
    <td colspan="7" style="font-size: small">
        <table class="table table-condensed" style="border: hidden">
            <tr>
                <th colspan="5">Weitere Hauskosten:</th>
                <td style="font-size: small" align="right">
                    <a class="btn btn-link-fx-brightblue btn-xs"
                       href="#"
                       role="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuer Eintrag </a>
                </td>
            </tr>
            {% for externalExtra in projekt.getRolleByTypKurzname('EE') %}
                <tr style="border: hidden">
                    <td style="width: 20%">
                        - {{ externalExtra.getName }}
                    </td>
                    <td style="width: 15%">
                        Team Massivhaus
                    </td>
                    <td style="width: 20%">
                    </td>
                    <td style="width: 15%" align="right">
                        {{ externalExtra.getKostenInklMwsT(externalExtra.getKostenPlan)|number_format(2, ',', '.') }} €
                        <span style="font-size: x-small">(inkl. MwSt.)</span>
                    </td>
                    <td></td>
                    <td style="font-size: small" align="right">
                        <a class="btn btn-linkfx btn-xs"
                           href="#"
                           role="button">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr style="border: hidden">
                <td colspan="4" style="width: 60%" align="right">Summe zzgl. Hauskosten:</td>
                <td style="font-size: small" align="right">
                    {% if projekt.getGesamtKostenInklMwstByKurzname('EE') != 0 %}
                        +{{ projekt.getGesamtKostenInklMwstByKurzname('EE')|number_format(2, ',', '.') }} €
                        <span style="font-size: x-small"> (inkl. MwSt.)</span>
                    {% else %}
                        <div align="right">Es sind keine weiteren Kosten angefallen</div>
                    {% endif %}</td>
                <td align="right">
                    <a class="btn btn-linkfx btn-xs"
                       href="#"
                       role="button"
                            {% if projekt.getRolleByTypKurzname('EE')|length < 1 %}
                                disabled
                            {% endif %}
                    >
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Plan / Ist
                        Vergleich </a>
                </td>
            </tr>
        </table>
    </td>
</tr>