<!-- app/Resources/FOSUserBundle/views/topnav.html.twig -->

<!-- NAVIGATION STARTS
   ========================================================================= -->
{#<section id="navigation">#}
    {#<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">#}
        {#<div class="container">#}
            {#<div class="navbar-header">#}
                {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span#}
                            {#class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span#}
                            {#class="icon-bar"></span> <span class="icon-bar"></span></button>#}
                {#<a class="navbar-brand" href="#slider"><img src="img/logo/logo.png" width="135" height="36" alt=""></a>#}
                {#<a class="navbar-brand" href="#">Fuchsbau Hausbauplanung (roxox.de)</a>#}
            {#</div>#}
            {#<div class="collapse navbar-collapse">#}
                {#<ul class="nav navbar-nav">#}
                    {#<li><a href="#"><span style="width: 100px; font-weight: 200; font-size: 21px"> &copy; 2016 Sebastian Fox </span></a></li>#}
                    {#<li><a href="#"><span style="width: 100px; font-weight: 200; font-size: 21px"> facebook </span></a></li>#}
                    {#<li><a href="#"><span style="width: 100px; font-weight: 200; font-size: 21px"> Twitter </span></a></li>#}
                {#</ul>#}
                {#<ul class="nav navbar-nav pull-right">#}
                    {#<li><a href="{{ path('homepage') }}"><span style="width: 100px; font-weight: 200; font-size: 21px"> Über mich </span></a></li>#}
                    {#<li><a href="{{ path('homepage') }}"><span style="width: 100px; font-weight: 200; font-size: 21px"> Kontakt </span></a></li>#}
                    {#<li><a href="{{ path('display_impressum') }}"><span style="width: 100px; font-weight: 200; font-size: 21px"> Impressum </span></a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<!--/.nav-collapse -->#}
        {#</div>#}
    {#</nav>#}
{#</section>#}
<!-- /.NAVIGATION -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>