
<div class="container">
    <hr>
    <h4>Projektübergreifend die Termine für die nächsten drei Wochen</h4>
    <br>
    <p>Für die nächsten 3 Wochen liegt dir <b>1 Termin(start)</b> vor. Wenn du alle Termine
        ansehen
        möchtest,
        schaue in deinen Terminkalender, dort kannst du natürlich auch weitere Termine
        hinzufügen.</p>
    <br>
    <table class="table table-striped">
        <tr>
            <th>
                Termin
            </th>
            <th>
                Uhrzeit
            </th>
            <th>
                Anlass
            </th>
            <th>
                Priorität
            </th>
            <th>

            </th>
        </tr>

        <tr style="height: 30px">
            <td style="width: 120px">
                12.12.2016
            </td>
            <td style="width: 120px">
                9:30 Uhr
            </td>
            <td style="width: 800px">
                Bauanlaufgespräch
            </td>
            <td style="width: 120px">
                sehr wichtig
            </td>
            <td style="width: 90px; alignment: center">

                <a class="btn btn-default-grey btn-xs" href="#" role="button">zum Termin</a>
            </td>
        </tr>
    </table>
</div>