<div>

    <span style="font-size: small; color: #61625d" align="justify">
    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
        {#<div>#}
            {#{% include "default/default_projekte.html.twig" %}#}
        {#</div>#}
    {#{% else %}#}
        <div>
            {% include "default/display_home.html.twig" %}
        </div>
    {#{% endif %}#}
    </span>
</div>
