<div align="center">

{#<div class="center">#}

<br>
<br>
<br>

<span style="font-family: 'Hello Kitty'; font-weight: 200; font-size: 98px; color: #948a54">Die Rezepte</span><br>
    <br>
    <br>
    <span style="font-family: 'Hello Kitty'; font-weight: 200; font-size: 28px; color: #d94a37">
        {#von dem lebendigen Advendskalender im Baumschulenweg #}
        sind noch nicht ganz online, aber heute Abend sollte es soweit sein.
        {#<br> Vielen Dank an alle, die sich beteiligt habem</span>#}
    <br>
    <br>

    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> Baumkuchen</span></a>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> Birnen-Carpaccio mit Walnuessen</span></a>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> Marzipanstollen</span></a>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> Zimtsterne mit Marzipan</span></a>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> Engelsaugen</span></a>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> Pestoblumen</span></a>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> wuerziger Gluehwein</span></a>
    <br>
    <br>
    <br><a href="http://www.rossox.com"><span
                style="font-size: 14px; font-family: 'Hello Kitty'; font-weight: 200; font-size: 48px;" class="btn btn-linkfxbrt btn-xs"> alle Rezepte</span></a>

<br>
<br>
<br>
<span style="font-family: 'Hello Kitty'; font-weight: 200; font-size: 28px; color: #d94a37"> Das Leben ist zu kurz fuer schlechtes Essen</span>
</div>
</div>