<div class="container">
    {% include "default/subnav_start.html.twig" %}
    {# Start #}
    <div class="row">
        <!--suppress CssNoGenericFontName -->
        <h4 align="center"
            style="background: rgba(249, 249, 249, 0.5); border: 1px solid #b6b6b6; font-family: 'CANDYINC'; color: #61625d; font-size: 36px; border-radius: 3px"
            id="info">
            Ueber den Fuchsbau
        </h4>
        <br><br>
        <div align="justify" style="font-weight: 200; font-size: 18px">
            <b>Herzlich willkommen beim Fuchsbau |</b> Egal, ob es schon konkrete Bestrebungen und Planungen gibt ein
            Haus zu bauen oder ob nur mal geschaut werden
            soll, was bei einem Hausbau alles ansteht und bedacht werden muss, ich bemühe mich mit <b>fuchsbau</b> für
            jeden
            die passenden Infomarmationen und Hilfestellungen bereitzustellen. Auf allgemine Informationen und
            Beispielrechnugen können direkt zugegriffen werden, um die ein oder andere eigene Planung anzulegen ist es
            jedoch notwendig ein Benutzerprofil anzulegen.
            <br><br>Doch bevor wir zu den wirklich interessanten Themen wie Hausbaukosten,
            Bauträgern und so kommen, würde ich gerne kurz zwei Fragen klären:<br><br>

            <b>Was ist der Fuchsbau ?</b><br><br>
            <ul>
                <li>Eine Hilfestellung zur Berücksichtigung möglichst vierler anfallender Kosten.</li>
                <li>Eine Übersicht</li>
                <li>Ein Beispiel</li>
            </ul>
            <br>
            <b>Was ist der Fuchsbau <i>nicht </i>?</b><br><br>
            <ul>
                <li>Der Fuchsbau ist keine Garantie</li>
                <li>Fehlerfrei <span style="font-size: 14px">(Ich bin überzeugt davon, dass es noch Fehler gibt, wenn ihr welche findet, egal ob Rechtschreibung oder funktional, lasst es mich wissen)</span>
                </li>
            </ul>

            <br>
            Ein Hinweis von mir noch, es werden insgesamt sehr viele Informationen dargestellt. Ich arbeite an einer App
            zur
            Anzeige der Daten, die dann die Infos in einem möglichst idealen Format auf die Handys bringt.
            Theoretisch kann die Seite jetzt natürlich auch von mobilen Geräten verwendet werden, aber ich empgehle eine
            minimale Ausflösung von <b>1280 x 800.</b>
        </div>
    </div>
    <br>
    <hr>
    <br>

    {# Bauen oder nicht Bauen#}
    <div class="row">
        <div class="col-md-8">
            <!--suppress CssNoGenericFontName -->
            <h4 align="center"
                style="background: rgba(249, 249, 249, 0.5); border: 1px solid #b6b6b6; font-family: 'CANDYINC'; color: #61625d; font-size: 36px; border-radius: 3px"
                id="kaufen">
                Mieten<!--suppress CssNoGenericFontName -->
                <span style="font-size: 18px; font-family: Arial">,</span> Kaufen oder Bauen
            </h4>
            <br><br>
            <div align="justify" style="font-weight: 200; font-size: 18px">
                Nicht jeder ist für den Hausbau geschaffen. Eigentlich ist nicht mal jeder für das Wohnen in einem Haus
                geschaffen. Und wenn man noch weiter gehen möchte, ist nicht mal jeder für das Leben im Eigentum
                geschaffen.
                Und bevor ich genauer drauf eingehe, soll erwähnt sein, dass weder das ein, noch das andere eine Wertung
                darstellt.
                Je nach Persönlichkeit macht es Sinn ein Haus zu bauen, ein bereits fertiges Haus oder eine Wohnung zu
                kaufen oder zhu mieten.
                <br><br>
                Da es hier vorwiegend um das Haus bauen gehen soll, schauen wir uns mal zunächst an,
            </div>
        </div>
        <div class="col-md-4">
            <div align="left" style="font-weight: 200; font-size: 18px">
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>

    {# Bauträger #}
    <div class="row">
        <div class="col-md-4">
            <div align="left" style="font-weight: 200; font-size: 18px">
            </div>
        </div>
        <div class="col-md-8">
            <!--suppress CssNoGenericFontName -->
            <h4 align="center"
                style="background: rgba(249, 249, 249, 0.5); border: 1px solid #b6b6b6; font-family: 'CANDYINC'; color: #61625d; font-size: 36px; border-radius: 3px"
                id="bautraeger">
                Die Bautraegerauswahl
            </h4>
            <br><br>
            <div align="justify" style="font-weight: 200; font-size: 18px">
                Bevor man sich die Frage stellt, welcher Bauträger es werden soll, muss man sich sicher sein, dass man
                auch
                mit einem Bauträger bauen möchte. Ich für rmeinen Teil bin sehr froh, dass wir mit einem solchen
                Bauträger
                zusammen das Projekt angegangen ist, denn auch so wurde das Projekt sehr anstrengend und es gibt viel zu
                beachten und zu planen.
                Ich würde auf bei dem ersten Bau empfehlen auf die professionelle Hilfe eines solchen Unternehmens
                zurückzugreifen. Und abgesehen davon, dass der Bauträger (im idealen Fall) nicht sein erstes Haus baut,
                bzw.
                bauen lässt, durch die .
                <br><br>
                Sollte man soweit gekommen sein und sich für ein Hausbauprojekt mit einem Bauträger entschieden haben,
                gibt
                es hier zwei Varianten.
                <br>
                <br>
                <ol>
                    <li>der Bauträger führt die Arbeiten der einzelnen Gewerke selber aus</li>
                    <li>der Bauträger vergibt die Arbeiten an Subunternehmen / Handwerker des Gewerks und stellt
                        lediglich
                        den
                        Bauleiter der diese Arbeiten koordiniert und in Auftrag gibt.
                    </li>
                </ol>
                <br>
                Der Vorteil wenn alles aus "einem Guss" ist liegt darin, dass die Handwerker sich (wahrscheinlich)
                untereinander kennen und der Bauleiter die Handwerker so planen kann, dass es zeitlich keine großen
                Leerphasen gibt.<br><br>
                Ich kann und will hier keinen Bauträger empfehlen. Am Ende gehört bei jedem Bauträger eine
                Portion Glück dazu. Bei jedem Bauträger kann alles gut laufen, es kann aber auch bei jedem Bauträger
                alles
                schief gehen, was schiefgehen kann. Wir habe am Ende den Bauträger genommen, bei dem wir im Beratungs-
                und
                Verkaufsgespräch das beste Gefühl hatten. Ich weiß, dass es sich hier nur um Verkäufer handeln, aber wer
                will schon mit einem unguten Gefühl starten. Und da macht es schon einen Unterschied, ob ein Verkäufer
                auf
                die Fragen des künftigen Kunden eingeht, oder ob er total desinteressiert wirkt.
                <br>
                <br>
                <b>Tipp:</b> Wie oben bereits erwähnt, ein Hausbau kann mit und ohne Bauträger eine große Portion Stress
                bedeuten. Stress, der eine Beziehung oder Ehe auf die Probe stellen kann. Auch wenn es komisch klingt,
                ich
                finde es spricht nichts dagegen, dass die Bauherren vor dem Bauprojekt eine Vereinbarung treffen, dass
                man
                das Bauvorhaben auf jeden Fall zusammenen abschließt und
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>

    {# Hausbaukosten #}
    <div class="row">
        <div class="col-md-8">
            <!--suppress CssNoGenericFontName -->
            <h4 align="center"
                style="background: rgba(249, 249, 249, 0.5); border: 1px solid #b6b6b6; font-family: 'CANDYINC'; color: #61625d; font-size: 36px; border-radius: 3px"
                id="hausbaukosten">
                Hausbaukosten
            </h4>
            <br><br>
            <div align="justify" style="font-weight: 200; font-size: 18px">
                Hausbaukosten sind ein sehr umfangreiches Thema, denn die Rechnung
                <br><br>
                <div align="center"><b>Grundstückspreis + Kataloghauspreis</b> <span style="font-size: 14px"> (wenn mit einem Bauträger gebaut wird)</span>
                    <b>= Gesamtkosten</b></div>
                <br> stimmt leider <b>NICHT!!!</b> Ohne viel vorgreifgen zu wollen, hat unser Grundstück 98.980,00 Euro
                gekostet und das Haus im Katalog 128.900,00 Euro. Wer nun mit Projektkosten von 227.880,00 Euro
                gerechnet
                hat, lag am Ende bummelig 150.000,00 Euro daneben.
                Wie es dazu kommen kann, das erkläre ich anhand eines Beispiels.
                <br><br><br>
                Ich für mich habe die Kosten des Hausbaus in 6 Kategeorien eingeteilt:<br><br>
                <ol><b>
                    <li>Hauskosten
                        <br>
                        <span style="font-size: 14px; font-weight: 200">
                            In meiner Definition handelt es sich bei den Hauskosten um
                            unmittelbar mit dem Haus (und nur mit dem Haus) verbunden Kosten.
                            Dazu gehören unter anderem Katalogpreis und Extras bei einem Bau mit einem Bauträger, oder
                            Material und Arbeitszeit ohne Bauträger.</span>
                    </li>
                    <br>
                    <li>Grundstückskosten
                        <br>
                        <span style="font-size: 14px; font-weight: 200">
                        Hier verstehe ich ausschließlich die Beträge, die direkt mit dem Grundstück zu tun haben.
                            Hierbei ist es egal, ob das Grundstück einen pauschalen Preis für die gesamte Fläche
                            bekommt, ob es einen einfachen Kaufpreis pro m² gibt, oder sich der zu bezahlende Preis
                            pro m² aus Kaufpreis und Erschließungskostenanteil zusammensetzt.
                            <br>
                            Auf der anderen Seite, Kosten wie die Notarkosten oder die Grunderbssteuer schließe ich
                            hier aus.
                    </span>
                    </li><br>
                    <li>Nebenkosten
                        <br>
                        <span style="font-size: 14px; font-weight: 200">
                        da von gibt es viele und da komme ich in der Beispielrechnung noch zurück
                    </span>
                    </li>
                    <li>Innenausbau
                        <br>
                        <span style="font-size: 14px; font-weight: 200">
                        Küche, Bodenbelege, ...
                    </span>
                    </li>
                    <li>Außenanlagen</li>
                        <br>
                        <span style="font-size: 14px; font-weight: 200">
                            In meiner Definition handelt es sich bei den Hauskosten um
                            unmittelbar mit dem Haus (und nur mit dem Haus) verbunden Kosten.
                            Dazu gehören unter anderem Katalogpreis und Extras bei einem Bau mit einem Bauträger, oder
                            Material und Arbeitszeit ohne Bauträger.</span>
                    <li>Gutschriften
                        <br>
                        <span style="font-size: 14px; font-weight: 200">
                            juhuuu - ja es geht auch andersrum</span>

                    </li>
                    </b>
                </ol>
                <br><br>
                Ich habe eine Beispielrechnung erstellt, die sich sehr nah an unserem Bauprojekt orientiert. Natürlich
                ist
                es
                von Haus zu Haus indivduell, aber so gibt es schon einmal die Möglichkeit eine Übersicht der anfallenden
                Punkte
                zu bekommen.
                Da das Ganze mit Beschreibungen und so etwas umfangreicher ist, habe ich es ausgelagert und ist hier zu
                finden.
                <span style="font-size: 14px"> (Ich leite euch nicht auf andere Server oder so, es ist lediglich eine seperate Seite um die Übersicht zu behalten)</span>
                <br><br>

                <div align="right">
                    <a class="btn btn-link-fx-greyred btn-xs"
                       style="font-weight: 400; font-size: 12px"
                       href="#"
                       role="button">
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        Beispielrechnung öffnen
                    </a></div>

            </div>
        </div>
        <div class="col-md-4">
            <div align="left" style="font-weight: 200; font-size: 18px">
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>
