
        {% include "default/subnav_start.html.twig" %}
        {# AUGELOGGT #}

        <div class="jumbotron">
            {#<div>#}
            {#<div class="container">#}
                <br>
                {#<span style="font-size: 42px; font-weight: 200">fuchsbau Hausbauplanung</span>#}
                <br><hr><br>
                <p align="center">
                    Egal, ob es schon konkrete Bestrebungen und Planungen gibt ein Haus zu bauen oder ob nur mal geschaut werden soll, was bei einem Hausbau alles ansteht und bedacht werden muss, ich bemühe mich mit <b>fuchsbau</b> für jeden die passenden Infomarmationen und Hilfestellungen bereitzustellen. Auf allgemine Informationen und Beispielrechnugen können direkt zugegriffen werden, um die ein oder andere eigene Planung anzulegen ist es jedoch notwendig ein Benutzerprofil anzulegen.
                <br><hr><br></p>
                   <p align="center">   Ich bin davon überzeugt, dass noch nicht alles rund läuft, und Fragen auftauchen. Wenn ihr also etwas findet, wobei ihr Hilfe benötigt oder irgendwas nicht so funktioniert, wie es sollte, lasst es mich wissen.
                <br><hr><br>
                <p align="center">Ein Hinweis von mir noch, es werden insgesamt sehr viele Informationen dargestellt. Ich arbeite an einer App zur Anzeige der Daten, die dann die Infos in einem möglichst idealen Format auf die Handys bringt.
                Theoretisch kann die Seite jetzt natürlich auch von mobilen Geräten verwendet werden, aber ich empgehle eine minimale Ausflösung von <b>1280 x 768 px</b>.
                </p><br>
            </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {#<h2>Um was handelt es sich bei <b>fuchsbau</b>? Was mache ich damit?</h2>#}
                    <h4 align="center"
                            style="background: rgba(249, 249, 249, 0.5);
                            border: 1px solid #b6b6b6;
                            font-family: 'CANDYINC';
                            color: #61625d;
                            /*color: #d94a37;*/
                            font-size: 33px;
                            border-radius: 3px">Was ist fuchsbau
                    </h4>
                    <br>
                    <p style="font-weight: 200; font-size: 14px">Der Fuchsbau soll Bauherren unterstützen in der Planung und der Übersicht während ihres Hausbaus. Wie das ganze funktionieren soll, dass erfahrt ihr hier. </p>
                    <p><a class="btn btn-default btn-mini" href="#" role="button">Mehr Infos</a></p>
                </div>
                <div class="col-md-4">
                    {#<h2>Wer steckt hinter <b>fuchsbau</b>? Und warum!?</h2>#}
                    <h4 align="center"
                        style="background: rgba(249, 249, 249, 0.5);
                            border: 1px solid #b6b6b6;
                            font-family: 'CANDYINC';
                            color: #61625d;
                            /*color: #d94a37;*/
                            font-size: 33px;
                            border-radius: 3px">Wer steckt hinter fuchsbau
                    </h4>
                    <br>
                    <p style="font-weight: 200; font-size: 14px">Gut und schön, dass jemand so ein Projekt startet, aber wer war das, was macht der so, und warum zur Hölle hat er das Projhekt gestartet? Das könnt ihr hier in Erfahrung bringen. </p>
                    <p><a class="btn btn-default btn-mini" href="#" role="button">Mehr Infos</a></p>
                </div>
                <div class="col-md-4">
                    {#<h2>Release notes <br><b>Aktuelle Version: 0.1.0</b></h2>#}
                    <h4 align="center"
                        style="background: rgba(249, 249, 249, 0.5);
                            border: 1px solid #b6b6b6;
                            font-family: 'CANDYINC';
                            color: #61625d;
                            /*color: #d94a37;*/
                            font-size: 33px;
                            border-radius: 3px">Version und Release notes
                    </h4>
                    <br>
                    <p style="font-weight: 200; font-size: 14px">Aktuelle Version: <b>0.1.0</b>
                        <br>
                        <br>
                        Wer rastet der rostet und es ist ja auch bekannt, dass Programme und Apps nur dann funktionieren, anklang finden und weiter leben, wenn die Entwicklung nicht still steht. Daran arbeiute auch ich und immer wenn es was neues gibt, könnt ihr hier nachlesen, was sich geändert hat.

                    <p><a class="btn btn-default btn-mini" href="#" role="button">Anzeigen</a></p>
                </div>
            </div>
        </div> <!-- /container -->
