<span style="font-weight: 200; font-size: 14px">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    {# Javascript#}
    <script type="text/javascript">
$(function () {
    $('a[href*="#"]:not([href="#"])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 140
                }, 600);
                return false;
            }
        }
    });
});

    </script>
    {# Start #}
    <br>
    <nav class="subnav navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" align="left">
                <ul class="nav navbar-nav pull-left">
                    <a href="#projekte"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-heart-empty"
                                    aria-hidden="true"></span> Meine Projekte</span></a>
                    <a href="#termine"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-calendar"
                                    aria-hidden="true"></span> Meine Termine</span></a>
                    </ul>
                </div>
            </div>
        </nav>
            </span>