<div class="col-lg-4">
    <div>
        {# Person #}
        {% include "Projekte/display_parts/house/internal_extras/details/display_parts/center/display_dates.html.twig" %}
    </div>
</div><!-- /.col-lg-4 -->