<div class="col-lg-4">
    <div>
        {# Name #}
        {% include "Projekte/display_parts/house/internal_extras/details/display_parts/left/display_costs.html.twig" %}
    </div>
</div><!-- /.col-lg-4 -->