<div class="col-lg-4">
    <div>
        {# Telefon #}
        {% include "Projekte/display_parts/house/internal_extras/details/display_parts/right/display_companies.html.twig" %}
    </div>
</div><!-- /.col-lg-4 -->