<div>
    <h4 align="center" style="background: rgba(249, 249, 249, 0.5);
        /*border-bottom: 1px solid #b6b6b6;*/
        /*border-top: 1px solid #b6b6b6;*/
        border: 1px solid #b6b6b6;"
        id="gutschriften"><span
                class="glyphicon glyphicon-euro"
                aria-hidden="true"></span> Gutschriften
    </h4> <br>
</div>
Eher selten, aber trotzdem vorhanden, es gibt auch mal Gutschiften. Bestellt man ein Haus aus dem
Katalog
und
nimmt Leistungen, die eigentlich dazugehören, aus dem Leistungsspektrum heraus, so kann man auch mal
etwas
Geld
zurück bekommen. Ein gutes Beispiel ist eine nicht genutzte Fliesenfläche, werden weniger Fliesen
benötigt,
als
das KAtalogbeispiel es vorsieht, gibt es eine Gutschrift. In der Detailansicht gibt es weitere Infos und
die
Möglichkeit solche Objekte anzulegen.
<br><br>
<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
        data-target="#collapseProjektBeteiligte">
    Einträge ein-/ausblenden
</button>
<br><br>