{#<h1># Projektinfos für <b>{{ projekt.getName() }}</b></h1>#}
{#<br>#}
<!-- Buttons -->
<a class="btn btn-linkfxbrt btn-xs"
   href="{{ path('homepage') }}"
   style="font-weight: 200; font-size: 16px"
   role="button">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Zurück zur Übersicht </a>
{#<button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align"#}
        {#href="#"#}
        {#data-toggle="modal"#}
        {#data-target="#editPersonPopup">#}
    {#<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Namen bearbeiten#}
{#</button>#}
{#<button type="button" class="btn btn-linkfxred btn-xs" aria-label="Left Align">#}
    {#<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen#}
{#</button>#}
{#<hr>#}
