{#<h1># Projektinfos für <b>{{ projekt.getName() }}</b></h1>#}
{#<br>#}
<!-- Buttons -->
<a class="btn btn-linkfxbrt btn-xs"
   href="{{ path('homepage') }}"
   style="font-weight: 200; font-size: 16px"
   role="button">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Zurück zur Übersicht </a>
