<span style="font-size: small; color: #61625d">
            <div class="container">
                <div>
                    <h3>Detailansicht zu den interne Extrakosten</h3>
                </div>
                <br>
                Hier findet die Verwaltung der internen Extras für euer künftiges Eigenheim statt.
                Um ein wenig die Begrifflichkeit zu erläutern, bei den interne Extras handelt es sich um die
                Extras, die direkt mit dem Bauträger vereinbart und auch an diesen bezahlt werden.
                <br><br>
                Es besteht die Möglichkeit Unterpunkete zu den einzelnen Extras zu erstellen, um die gesamte Aufstellung
                möglichst feingranular darzustellen.<br>
                <br>
                {#<button type="button" class="btn btn-link btn-xs" data-toggle="collapse"#}
                        {#data-target="#collapseInfo">#}
                    {#Hinweis ein-/ausblenden#}
                {#</button>#}

                {#&#123;&#35; Extrahinweis &#35;&#125;#}
                {#<div class="container">#}
                    {#<div class="collapse out" id="collapseInfo"><br>#}
                        {#<div class="alert alert-warning fade in" style="width: 100%">#}
                            {#<left>#}
                                {#<h4>Hinweis zu den internen Extras</h4>#}
                                {#Da ich nicht weiß, wie andere Bauträger das ganze handhaben, habe ich zwei (wenn man#}
                                {#möchte#}
                                {#sogar drei)#}
                                {#Möglichkeiten gegeben diese Extras zu erfassen:<br>#}
                                {#<hr>#}

                                {#1. Schließt man z.B. bei Team Massivhaus einen Vertrag ab, so weiß ich aus Erfahrung,#}
                                {#dass#}
                                {#man eine#}
                                {#Liste mit#}
                                {#den einzelnen Extra-Positionen erhält, die auch einen Preis mit sich bringen.#}

                                {#Ihr erfasst ein Extra inklusive dem Preis und fürgt es einfach hinzu. Dieser Preis wird#}
                                {#am#}
                                {#Ende auf den#}
                                {#Grundpreis vom#}
                                {#Haus drauf gerechnet.#}
                                {#<br><br>#}
                                {#<b>Beispiel:</b><br><br>#}
                                {#<div class="container">#}
                                    {#<table>#}
                                        {#<tr>#}
                                            {#<td style="width: 60%">#}
                                                {#Hauspreis#}
                                            {#</td>#}
                                            {#<td align="right" style="width: 40%">#}
                                                {#128000 Euro#}
                                            {#</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td style="width: 60%">#}
                                                {#Massive Innenwände im OG#}
                                            {#</td>#}
                                            {#<td align="right" style="width: 40%">#}
                                                 {#+ 5500 Euro#}
                                            {#</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>#}
                                                {#<b>Summe</b>#}
                                            {#</td>#}
                                            {#<td align="right">#}
                                                {#<b>133500 Euro</b>#}
                                            {#</td>#}
                                        {#</tr>#}
                                    {#</table>#}
                                {#</div>#}

                                {#<br><br>#}
                                {#2. Euer Bauträger gibt euch am Ende des Tages einen Vertrag mit einem Hauspreis, der#}
                                {#bereits#}
                                {#sämtliche Extras enthält. Hier wird nun noch unterschieden, ob ihr sehen könnt, wie#}
                                {#teuer#}
                                {#die einzelnen Extras sind, oder ob der Bauträger da ein Geheimnis draus machen möchte.#}
                                {#<br><br>#}
                                {#Deswegen gibt es hier:#}
                                {#<br><br>#}
                                {#<table>#}
                                    {#<tr>#}
                                        {#<td>#}
                                            {#a. Ein Haus mit mall mehr, mal weniger Extras, denen jeweils eigene Preise zugeordnet#}
                                            {#werden können, die an dem Hauspreis#}
                                            {#aber nichts mehr weiter ändern.<br><br>#}
                                            {#<b>Beispiel:</b><br><br>#}
                                            {#<div class="container">#}
                                                {#<table>#}
                                                    {#<tr>#}
                                                        {#<td style="width: 60%">#}
                                                            {#Hauspreis#}
                                                        {#</td>#}
                                                        {#<td align="right" style="width: 40%">#}
                                                            {#128000 Euro#}
                                                        {#</td>#}
                                                    {#</tr>#}
                                                    {#<tr>#}
                                                        {#<td style="width: 60%">#}
                                                            {#Massive Innenwände im OG#}
                                                        {#</td>#}
                                                        {#<td align="right" style="width: 40%">#}
                                                            {#5500 Euro#}
                                                        {#</td>#}
                                                    {#</tr>#}
                                                    {#<tr>#}
                                                        {#<td>#}
                                                            {#<b>Summe</b>#}
                                                        {#</td>#}
                                                        {#<td align="right">#}
                                                            {#<b>128000 Euro</b>#}
                                                        {#</td>#}
                                                    {#</tr>#}
                                                {#</table>#}
                                            {#</div>#}
                                            {#<br><br>#}
                                        {#</td>#}
                                        {#<td>#}

                                        {#</td>#}
                                    {#</tr>#}
                                {#</table>#}

                                {#b. Ein Haus mit dem ein oder anderen Extra, die zwar erfasst werden, aber kein eigener#}
                                {#Preis zugeordnet werden kann. Auch hier sind die Extras bereits im gesamten Preis#}
                                {#enthalten und haben keine weitere Auswirkung auf die Kosten.<br><br>#}
                                {#<b>Beispiel:</b><br><br>#}
                                {#<div class="container">#}
                                    {#<table>#}
                                        {#<tr>#}
                                            {#<td style="width: 60%">#}
                                                {#Hauspreis#}
                                            {#</td>#}
                                            {#<td align="right" style="width: 40%">#}
                                                {#128000 Euro#}
                                            {#</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td style="width: 60%">#}
                                                {#Massive Innenwände im OG#}
                                            {#</td>#}
                                            {#<td align="right" style="width: 40%">#}
                                            {#</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>#}
                                                {#<b>Summe</b>#}
                                            {#</td>#}
                                            {#<td align="right">#}
                                                {#<b>128000 Euro</b>#}
                                            {#</td>#}
                                        {#</tr>#}
                                    {#</table>#}
                                {#</div>#}
                            {#</left>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<br><br><br><br>#}


                {# Collapsable div #}
                <div>
                    <table class="table table-condensed" style="border-top: hidden">
                        <tr>
                            <th style="width: 21%">
                                Extra
                            </th>
                            <th style="width: 18%">
                                Ausführende Firma
                            </th>
                            {#<th style="width: 8%">#}
                            {#Termin Start#}
                            {#</th>#}
                            {#<th style="width: 8%">#}
                            {#Termin Ende#}
                            {#</th>#}
                            <th style="width: 3%">Status</th>
                            <th style="width: 10%">
                                Einzelpreis<span style="font-size: x-small">  <br>inkl. MwSt. </span>
                            </th>
                            <th style="width: 6%">
                                Anzahl
                            </th>
                            <th style="width: 6%">
                                Einheit
                            </th>
                            <th style="width: 14%">
                                Gesamtpreis<span style="font-size: x-small">  inkl. MwSt.<br>(ohne Unterpunkte)</span>
                            </th>
                            <th style="width: 14%">
                                Gesamtpreis<span style="font-size: x-small">  inkl. MwSt.<br>(inkl. Unterpunkte)</span>
                            </th>
                            <th style="width: 4%"></th>
                        </tr>

                        <tr>
                            <td>
                                Massive Innwände im Obergeschoss
                            </td>
                            <td>
                                Lufthansa Technik AG oder GmbH
                            </td>
                            <td>
                                Plan
                            </td>
                            <td>
                                550.000,00 Euro
                            </td>
                            <td>
                                {{ 55 + projekt.getId }}
                            </td>
                            <td>
                                Stk.
                            </td>
                            <td>
                                550000 Euro
                            </td>
                            <td>
                                550000 Euro
                            </td>
                            <td>
                                {#<button type="button" class="btn btn-default btn-xs"#}
                                {#href="#">Unterpunkt hinzufügen#}
                                {#</button>#}
                                {#<br>#}
                                <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span>
                                    Unterpunkt
                                </button>
                                <br>
                                <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
                                </button>
                                <br>
                                <button type="button" class="btn btn-linkfxred btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
                                </button>
                            </td>

                        </tr>
                        {% if interneExtras != null %}
                            <tr style="border-top: hidden; background-color: #fafafa">
                                <td colspan="8"></td>
                                <td>
                                    <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
                                    </button>
                                    <br>
                                    <button type="button" class="btn btn-linkfxred btn-xs" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" align="center">
                                    Noch wurde kein Unterpunkt hinzugefügt. Für einen Unterpunkt nutze bitte
                                    <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span>
                                        Unterpunkt
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="addInternExtra" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Extra hinzufügen</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="text">
                                        Lade Formular
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <hr>
                <!-- Trigger the modal with a button -->
                <a class="btn btn-linkfx btn-xs"
                   href="{{ path('display_project_by_project_id', {'projektId': projekt.getId()}) }}"
                   role="button">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Zurück zum Projekt </a>
            </div>
    </span>