{#<div>#}
    {#<h3 id="inneneinrichtung"> // Inneneinrichtung</h3>#}
{#</div>#}
<div>
    <h4 align="center" style="background: rgba(249, 249, 249, 0.5);
        border-radius: 3px;
        border: 1px solid #b6b6b6;"
        id="inneneinrichtung"><span
                class="glyphicon glyphicon-bed"
                aria-hidden="true"></span> Inneneinrichtung
    </h4> <br>
</div>
Ist das Haus erst mal gebaut, ist es von Außen meist schön anzusehen. Von Innen ist es da noch etwas
anderes,
denn wenn nichts alles gefliest wird, könnte es gut sein, dass noch ein paar <b>Bodenbeläge, Tapete und
    Farbe</b> an der Wand und vor allem eine <b>Küche</b> fehlen,
<br><br>
<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
        data-target="#collapseProjektBeteiligte">
    Einträge ein-/ausblenden
</button>
<br><br>