<div>
    <h3>Außenanagen</h3>
</div>
Ein Haus auf dem Grundstück ist ja gut und schön, aber damit man nicht ständig den Sand aus der Bauphase
mit
den
Schuhen ins Haus trägt, ost es ganz sinnvoll ein paar Tätigkeiten auf dem Grundstück durchzuführen. <b>Auffahrt,
    Wege, Terrasse, Rasen, Beete und Bäume</b> fallen mir spontan dazu ein. Mehr dazu in der
Detailansicht.
<br><br>
<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
        data-target="#collapseProjektBeteiligte">
    Einträge ein-/ausblenden
</button>
<br><br>