{#<div>#}
    {#<h3 id="nebenkosten"> // Nebenkosten</h3>#}
{#</div>#}
<div>
    <h4 align="center" style="background: rgba(249, 249, 249, 0.5);
        border-radius: 3px;
        border: 1px solid #b6b6b6;"
        id="nebenkosten"><span
                class="glyphicon glyphicon-indent-right"
                aria-hidden="true"></span> Nebenkosten
    </h4> <br>
</div>
Neben den Kosten für das Haus und das Grundstück fallen noch jede Menge weitere Kosten (die sogenannte
Nebenkosten) an. Das können zum Beispiel Notarkosten oder Genehmigungen sein.
Auch die Nebenkosten können über die Detailansicht hinzugefügt werden, und genauso wie bei Extras und
Tätigkeiten gibt es in der Detailansicht dazu ein paar Beispiele zur Veranschaulichung.
<br><br>
<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
        data-target="#collapseProjektBeteiligte">
    Einträge ein-/ausblenden
</button>
<br><br>