<h3>Zeiten und Termine
    <sup><button type="button" class="btn btn-linkfxbrt btn-xs" data-toggle="collapse"
            {#href="{{ path('homepage') }}"#}
            style="font-weight: 200; font-size: 12px"
            {#role="button">#}
                 data-target="#collapseInfoZeiten"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Hinweis ein-/ausblenden </button></sup>
</h3>
<div class="collapse out" id="collapseInfoZeiten">
    {#<div class="aler alert-warning fade in">#}
        <left><p style="font-size: 14px; font-weight: 200">
                In welcher Einheit und wie viel davon wird dieses Extra gemessen? Stück, m, m², m³ oder sonst irgendetwas anderes?</p>
        </left>
    {#</div>#}
</div>
<br>
<table style="width: 100%">
    <tr style="background-color: #FAFAFA">
        <td colspan="4">
            <br>
        </td>
    </tr>
    <tr style="background-color: #FAFAFA">
        <td style="width: 2%;">
        </td>
        <td colspan="2" align="right">
            <b>Ausführungszeiten</b>
        </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr style="background-color: #FAFAFA">
        <td colspan="4">
            <br>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <br>
        </td>
    </tr>
    <tr>
        <td style="width: 2%;">
        </td>
        <td style="width: 50%;">
            <p>Geplanter Ausführungszeitraum:</p>
        </td>
        <td align="right">
            02.08.2016 - 31.08.2016
        </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr>
        <td style="width: 2%;">
        </td>
        <td style="width: 50%;">
            <p>Tatsächlicher Ausführungszeitraum:</p>
        </td>
        <td align="right">
            02.08.2016 - 31.08.2016
        </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <hr>
        </td>
    </tr>
    {#<tr>#}
        {#<td colspan="4">#}
            {#<br>#}
        {#</td>#}
    {#</tr>#}
    <tr>
        <td style="width: 2%;">
        </td>
        <td colspan="2">
            <h4>Mit Berücksichtigung der Unterpunkte:</h4>
            <br>
        </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr>
        <td style="width: 2%;">
        </td>
        <td style="width: 50%;">
            <p>Gepl. / Tat. frühester Ausführungsbeginn: </p>
        </td>
        <td align="right">
            02.08.2016 / 02.08.2016
        </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr>
        <td style="width: 2%;">
        </td>
        <td style="width: 50%;">
            <p>Gepl. / Tat. spätestes Ausführungsende: </p>
        </td>
        <td align="right">
            31.08.2016 / 31.08.2016
        </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <br>
        </td>
    </tr>
    <tr style="background-color: #fafafa">
        <td colspan="4">
            <br>
        </td>
    </tr>
    <tr style="background-color: #fafafa">
        <td style="width: 2%;">
        </td>
        <td colspan="2" align="right">
            <!-- Button Edit -->
            <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align"
                    style="font-weight: 200; font-size: 14px"
                    href="{{ path('edit_current_person') }}"
                    data-toggle="modal"
                    data-target="#editPersonPopup">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
            </button> </td>
        <td style="width: 2%;">
        </td>
    </tr>
    <tr style="background-color: #fafafa">
        <td colspan="4">
            <br>
        </td>
    </tr>
</table>
<br>

<div>
    <!-- Popups -->
    {% include "Personen/display_parts/left/popups/person/popup_person_edit.html.twig" %}
</div>