<div class="col-lg-4">
    <div>
        {# Benutzer #}
        {% include "Personen/display_parts/left/display_user.html.twig" %}
        {# Person #}
        {% include "Personen/display_parts/left/display_person.html.twig" %}
    </div>
</div><!-- /.col-lg-4 -->