<div class="col-lg-4">
    <div>
        {# Telefon #}
        {% include "Personen/display_parts/right/display_telephone.html.twig" %}
        {# Email #}
        {% include "Personen/display_parts/right/display_email.html.twig" %}
    </div>
</div><!-- /.col-lg-4 -->