<!-- Popup Telephone new (Modal) -->
<div class="modal fade" id="editTelephonePopup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal">&times;</button>
                <h4 align="center" style="background: rgba(249, 249, 249, 0.5);
        border: 1px solid #b6b6b6;
        font-family: 'CANDYINC';
        color: #61625d;
        /*color: #d94a37;*/
        font-size: 33px;
        border-radius: 3px">
                    Telefonnummer bearbeiten
                </h4>
            </div>
            <div class="modal-body">
                <div class="text">
                    Lade Formular
                </div>
            </div>
        </div>
    </div>
</div>