<!-- Popup Address edit (Modal) -->
<div class="modal fade" id="editUserPopup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Benutzerndaten ändern</h4>
            </div>
            <div class="modal-body">
                <div class="text">
                    Lade Formular
                </div>
            </div>
        </div>
    </div>
</div>