<span style="font-weight: 200; font-size: 14px">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    {# Javascript#}
    <script type="text/javascript">
//$(function () {
//    $('a[href*="#"]:not([href="#"])').click(function () {
//        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
//            var target = $(this.hash);
//            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
//            if (target.length) {
//                $('html, body').animate({
//                    scrollTop: target.offset().top - 140
//                }, 600);
//                return false;
//            }
//        }
//    });
//});

    </script>
    {# Start #}
    <br>
    <nav class="subnav navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" align="left">
                {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2"><span#}
                {#class="sr-only">Toggle navigation</span> <span style="color: #ffffff"> Zu dem Bereich ... </span></button>#}


                {#  <div class="collapse navbar-collapse2">#}
                <ul class="nav navbar-nav pull-left">
                    <a href="#zusammenfassung"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-list-alt"
                                    aria-hidden="true"></span> Zusammenfassung</span></a>
                    <a href="#projektbeteiligte"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-user"
                                    aria-hidden="true"></span> Projektbeteiligte</span></a>
                    <a href="#grundstueck"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-globe"
                                    aria-hidden="true"></span> Grundstück</span></a>
                    <a href="#haus"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-home"
                                    aria-hidden="true"></span> Haus</span></a>
                    <a href="#nebenkosten"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-indent-right"
                                    aria-hidden="true"></span> Nebenkosten</span></a>
                    <a href="#gutschriften"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-euro"
                                    aria-hidden="true"></span> Gutschriften</span></a>
                    <a href="#aussenanlagen"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-leaf"
                                    aria-hidden="true"></span> Außenanlagen</span></a>
                    <a href="#inneneinrichtung"><span
                                style="font-size: 14px; font-weight: 200" class="btn btn-linkfxbrt btn-xs"><span
                                    class="glyphicon glyphicon-bed"
                                    aria-hidden="true"></span> Inneneinrichtung</span></a>
                    </ul>
                {# </div>#}
                </div>
            </div>
        </nav>
            </span>