<span style="font-weight: 200; font-size: 14px">
{# Start #}
<br>
    <div class="subnav">
        <div align="left">
            {% include "Projekte/display_project_header.html.twig" %}
            {#<br>#}
            {#<button type="button" class="btn btn-linkfxdrk btn-xs" aria-label="Left Align"#}
                    {#style="font-size: 16px; font-weight: 200; vertical-align: top"#}
                    {#href="#"#}
                    {#data-toggle="modal"#}
                    {#data-target="#editAddressPopup">#}
                {#<span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span>#}
                {#Bereichsauswahl:#}
            {#</button>#}
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200; vertical-align: top"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon glyphicon lyphicon glyphicon-list-alt" aria-hidden="true"></span> Zusammenfassung
            </button>
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200; vertical-align: top"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Projektbeteiligte
            </button>
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span> Grundstück
            </button>
            <button type="button" class="btn btn-linkfxdrk btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon glyphicon-home" aria-hidden="true"></span> <b>Haus</b>
            </button>
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon glyphicon glyphicon glyphicon-indent-right" aria-hidden="true"></span> Nebenkosten
            </button>
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon-leaf" aria-hidden="true"></span> Außenanlagen
            </button>
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon glyphicon glyphicon-bed" aria-hidden="true"></span> Inneneinrichtung
            </button>
            <button type="button" class="btn btn-linkfxbrt btn-xs" aria-label="Left Align"
                    style="font-size: 16px; font-weight: 200"
                    href="#"
                    data-toggle="modal"
                    data-target="#editAddressPopup">
                <span class="glyphicon glyphicon glyphicon gglyphicon glyphicon glyphicon-euro" aria-hidden="true"></span> Gutschriften
            </button>
            </span>
        </div>
    {#<hr>#}
    {#<br>#}
    {#<br>#}
</div>
<br>
<br>
{# ENDE #}
<br>
<br>
Hier gibt es nun die nötigten Infos wie <span style="font-weight: 400">Haustyp, Größe, Preis, etc.</span> zu dem Traumhaus. Desweiteren
wird
hier eine Liste sämtlicher Extras aufgeführt und eine Liste der auszuführenden Tätigkeiten. In den
jeweiligen
Detailansichten können Elemente hinzugefügt werden, dort habe ich auch praktische Beispiele aufgelistet,
so
dass
sich die Nutzung von selbst erklären sollte.

{# Button zum toggeln der Collapse Funktion #}
<br><br>
{#<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"#}
        {#data-target="#collapseHaus">#}
    {#Einträge ein-/ausblenden#}
{#</button>#}
{#<br><br>#}

{# Collapsable div #}
<div class="collapse in" id="collapseHaus">
    <table class="table table-condensed" style="font-weight: 400">
        <tr>
            <th style="width: 10%; font-weight: 400">
                Haustyp
            </th>
            <th style="width: 13%; font-weight: 400">
                Größe <br><span style="font-size: x-small">(DIN / WoFIV)</span>
            </th>
            <th style="width: 17%; font-weight: 400">
                Hausname <br><span style="font-size: x-small">(aus dem Katalog, wenn vorhaden)</span>
            </th>
            <th style="width: 18%; font-weight: 400">
                Bauträger
            </th>
            <th style="width: 24%; font-weight: 400" colspan="1">
                Hauspreis <br><span style="font-size: x-small">(Grundpreis + interne Extras)</span>
            </th>
            <th style="width: 18%; font-weight: 400" colspan="2">
                weitere Hauskosten
            </th>
        </tr>


        {% if projekt.getHaus != null %}

            {# house base data #}
            {% include "Projekte/display_parts/house/house_base/house_base_content.html.twig" %}

            {# internal extras #}
            {% include "Projekte/display_parts/house/internal_extras/internal_extras_content.html.twig" %}

            {# external extras #}
            {% include "Projekte/display_parts/house/external_extras/external_extras_content.html.twig" %}

            {# work #}
            {% include "Projekte/display_parts/house/work/work_content.html.twig" %}

            <tr>
                <td colspan="4">
                    <b>Gesamtkosten</b> <span
                            style="font-size: x-small">(Haus + interne und externe Extras + Tätigkeiten):</span>
                </td>
                <td colspan="3" align="right">
                    <b>123.456,70 €
                        <span style="font-size: x-small">(inkl. MwSt.)</span> </b>
                </td>

            </tr>
            {#<tr>#}
            {#<td colspan="7">#}
            {#<br>#}
            {#<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"#}
            {#data-target="#collapseHaus">#}
            {#Einträge ein-/ausblenden#}
            {#</button>#}
            {#</td>#}
            {#</tr>#}
        {% else %}
            <tr>
                <td colspan="6" align="center">
                    Noch wurde kein Haus hinzugefügt
                </td>
            </tr>
            <tr>
                <td colspan="6" align="right">
                    <br>
                    <!-- Trigger the modal with a button -->
                    <a class="btn btn-link-fx-brightblue btn-xs"
                       href="{{ path('add_haus_to_current_projekt_modal', {'projektId': projekt.getId()}) }}"
                       data-toggle="modal"
                       data-target="#addHausPopup"
                       role="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Haus hinzufügen </a>
                    <br><br>
                </td>
            </tr>
        {% endif %}
    </table>

</div>
<div>
    <!-- Popups -->
    {% include "Projekte/display_parts/house/house_base/popups/popup_house_new.html.twig" %}
    {% include "Projekte/display_parts/house/house_base/popups/popup_house_edit.html.twig" %}
    {% include "Projekte/display_parts/house/internal_extras/popups/popup_internal_extra_new.html.twig" %}
</div>
<hr>
</span>