<div>
    <h4 align="center" style="background: rgba(249, 249, 249, 0.5);
        border: 1px solid #b6b6b6;
        font-family: 'CANDYINC';
        color: #61625d;
        /*color: #d94a37;*/
        font-size: 33px;
        border-radius: 3px"
        id="haus">
        Haus
    </h4>

    <br>

</div>
<div align="center" style="font-weight: 200">
    Hier gibt es nun die nötigten Infos wie <span style="font-weight: 400">Haustyp, Größe, Preis, etc.</span> zu dem
    Traumhaus. Desweiteren
    wird hier eine Liste sämtlicher Extras aufgeführt und eine Liste der auszuführenden Tätigkeiten. In den jeweiligen
    Detailansichten können Elemente hinzugefügt werden, dort habe ich auch praktische Beispiele aufgelistet, so dass
    sich die Nutzung von selbst erklären sollte.
</div>
<br><br>
{# Collapsable div #}
<div class="collapse in" id="collapseHaus">
    <table class="table table-condensed" style="font-weight: 400">
        <tr>
            <th style="width: 10%; font-weight: 400">
                Haustyp
            </th>
            <th style="width: 13%; font-weight: 400">
                Größe <br><span style="font-size: x-small">(DIN / WoFIV)</span>
            </th>
            <th style="width: 17%; font-weight: 400">
                Hausname <br><span style="font-size: x-small">(aus dem Katalog, wenn vorhaden)</span>
            </th>
            <th style="width: 18%; font-weight: 400">
                Bauträger
            </th>
            <th style="width: 24%; font-weight: 400" colspan="1">
                Hauspreis <br><span style="font-size: x-small">(Grundpreis + interne Extras)</span>
            </th>
            <th style="width: 18%; font-weight: 400" colspan="2">
                weitere Hauskosten
            </th>
        </tr>


        {% if projekt.getHaus != null %}

            {# house base data #}
            {% include "Projekte/display_parts/house/house_base/house_base_content.html.twig" %}

            {# internal extras #}
            <tr>
            <td colspan="7"
                style="font-weight: 200; font-size: 14px">
                {% include "Projekte/display_parts/house/internal_extras/internal_extras_content.html.twig" %}
            </td>
            </tr>

            {# external extras #}
            {#{% include "Projekte/display_parts/house/external_extras/external_extras_content.html.twig" %}#}

            {# work #}
            {% include "Projekte/display_parts/house/work/work_content.html.twig" %}

            <tr style="border-bottom: hidden">
                <td colspan="4">
                    <b>Gesamtkosten</b> <span
                            style="font-size: x-small">(Haus + interne und externe Extras + Tätigkeiten):</span>
                </td>
                <td colspan="3" align="right">
                    <b>{{ projekt.getHauskaufpreis|number_format(2, ',', '.') }} €
                        <span style="font-size: x-small">(inkl. MwSt.)</span> </b>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6" align="center">
                    Noch wurde kein Haus hinzugefügt
                </td>
            </tr>
            <tr>
                <td colspan="6" align="right">
                    <br>
                    <!-- Trigger the modal with a button -->
                    <a class="btn btn-link-fx-greyred btn-xs"
                       href="{{ path('add_haus_to_current_projekt_modal', {'projektId': projekt.getId()}) }}"
                       data-toggle="modal"
                       data-target="#addHausPopup"
                       role="button">
                        <span class="glyphicon glyphicon-plus" style="font-size: 10px" aria-hidden="true"></span> Haus
                        hinzufügen </a>
                    <br><br>
                </td>
            </tr>
        {% endif %}
    </table>

</div>
<div>
    <!-- Popups -->
    {% include "Projekte/display_parts/house/house_base/popups/popup_house_new.html.twig" %}
    {% include "Projekte/display_parts/house/house_base/popups/popup_house_edit.html.twig" %}
    {% include "Projekte/display_parts/house/internal_extras/popups/popup_internal_extra_new.html.twig" %}
</div>
<hr>
</span>